<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
      Welcome to SwaadSagaar
    {% endblock %}
    {% block content %}
    <div class="wrapper">
        <div class="signup_box">
            <div class="login-header">
                <span>Sign-up</span> 
            </div>
            <form action="/add_user" method="post">

                <div class="name">
                    <div class="user_name">
                        <input type="text" name="name" class="input-field" placeholder="Enter your first name" required>
                    </div>
                    <div class="">
                        <input type="text" name="last" class="input-field" placeholder="Enter your last name" required>
                    </div> 
                </div>
                
                <div class="input_box">
                    <input type="tel" name="number" class="input-field" placeholder="Enter your number" maxlength="10" required>
                </div>

                <div class="input_box">
                    <input type="text" name="email" class="input-field" placeholder="Enter your email id" required>
                </div>
        
                <div class="input_box">
                    <input id="password" type="password" name="password" class="input-field" placeholder="Enter your password" required>
                    <i class="bx bx-lock-alt icon" onclick="togglePasswordVisibility()"><img id="password-icon" width="22px" src="{{ url_for('static', filename='img/closed_password_icon.png') }}" alt="" style="margin-top: 3px; margin-left: 2px; cursor: pointer;"></i>  
                    <p id="password-suggest" class="hidden ml-6 mt-2 text-sm underline italic text-red-700">Please Include Special Character "!@#$%&" to strengthen your password:</p>
                </div>
                
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Save">
                </div>
                <div class="register">
                    <a href="/login">Back to Log in</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("password");
            const passwordIcon = document.getElementById("password-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordIcon.src = "{{ url_for('static', filename='img/open_password_icon.png') }}";
            } else {
                passwordInput.type = "password";
                passwordIcon.src = "{{ url_for('static', filename='img/closed_password_icon.png') }}";
            }
        }

        document.addEventListener("click", (e) => {
            if (e.target.id === "password") {
                document.querySelector("#password-suggest").classList.remove("hidden");
            }
            else{
                document.querySelector("#password-suggest").classList.add("hidden");
            }
        });

    </script>
    {% endblock %}
</body>
</html>
